@if (model?.educationList?.length) {
<div class="education">
  <div class="education__title title">
    <h2 class="title">{{ model?.title }}</h2>
    <hr />
  </div>
  @for (education of model?.educationList; track education) {
    <div class="education-item">
      <div class="education-header">
        <span class="institution">{{ education.institution }}</span>
        <span class="date"
          >{{ education.startDate }} - {{ education.endDate }}</span
        >
      </div>
      <div class="education-degree">{{ education.degree }}</div>
      <ul class="education-details">
        <li>{{ education.details }}</li>
      </ul>
    </div>
  }
</div>
}
