@if (model) {
<div class="languages-block">
  <app-title title="{{ model.title }}" [center]="true"></app-title>
  <ul class="language-list">
    @for (language of model.languageKnowledge; track $index) {
    <li class="language-item">
      <span class="language-name">{{ language.name }}</span>
      <div class="language-level">
        @for (circle of createCircles(); track $index) {
        <div
          class="level-circle"
          [class]="{ filled: circle <= language.level }"
        ></div>
        }
      </div>
    </li>
    }
  </ul>
</div>
}
