@if (model?.erfahrung?.length) {
<div class="work-experience">
  <app-title title="{{ model?.title }}"></app-title>
  @for (experience of model?.erfahrung; track experience.tasks) {
  <div class="work-experience__experience-item">
    <div class="experience-header">
      <span class="company">{{ experience.company }}</span>
      <span class="date"
        >{{ experience.startDate }} - {{ experience.endDate }}</span
      >
    </div>
    <div class="experience-place">{{ experience.place }}</div>
    <div class="experience-role">{{ experience.job }}</div>
    <ul class="experience-details">
      @for (detail of experience.tasks; track $index) {
      <li>{{ detail }}</li>
      }
    </ul>
  </div>
  }
</div>
}
