@import 'src/styles/scss/variables';

.work-experience {
  padding: 20px 20px 0 20px;

  &__title {
    font-weight: bold;
    margin-bottom: 15px;
  }

  &__experience-item {
    margin-bottom: 20px;
    border-bottom: 1px solid #e0e0e0;

    &:last-child {
      border-bottom: none;
    }

    .experience-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;

      .company {
        font-size: 1.2rem;
        color: $blue;
      }

      .date {
        font-size: 0.9rem;
        color: $light-gray;
      }
    }

    .experience-role {
      font-size: 1.1rem;
      color: $black;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .experience-details {
      list-style: disc;
      padding-left: 20px;

      li {
        font-size: .9rem;
        color: $black;
        margin-bottom: 5px;
      }
    }
  }
}
